{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
  Renders a product thumbnail with a modal-opener

  Accepts:
  - media: {Object} Product Media object
  - media_count: {Number} Number of media objects
  - position: {String} Position of the media. Used for accessible label.
  - desktop_layout: {String} Layout of the media for desktop.
  - mobile_layout: {String} Layout of the media for mobile.
  - loop: {Boolean} Enable video looping (optional)
  - modal_id: {String} The product modal that will be shown by clicking the thumbnail
  - xr_button: {Boolean} Renders the "View in your space" button (shopify-xr-button) if the media is a 3D Model
  - constrain_to_viewport: {Boolean} Force media height to fit within viewport
  - media_fit: {String} Method ("contain" or "cover") to fit image into container
  - media_width: {Float} The width percentage that the media column occupies on desktop.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'product-thumbnail',
    media: media,
    position: forloop.index,
    loop: section.settings.enable_video_looping,
    modal_id: section.id
  %}
{% endcomment %}

{%- liquid
  unless lazy_load == false
    assign lazy = 'lazy'
  endunless

  assign desktop_columns = 1
  if desktop_layout == 'columns' and media_count > 1
    assign desktop_columns = 2
  endif

  assign mobile_columns = 1
  if mobile_layout == 'columns' and media_count > 1
    assign mobile_columns = 2
  endif

  if media.media_type == 'image'
    assign image_class = 'image-magnify-' | append: section.settings.image_zoom
  endif
-%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

<div
  class="product-media-container media-type-{{ media.media_type }} media-fit-{{ media_fit }} global-media-settings gradient{% if constrain_to_viewport %} constrain-height{% endif %}"
  style="--ratio: {{ media.aspect_ratio | default: 1.0 }}; --preview-ratio: {{ media.preview_image.aspect_ratio | default: 1.0 }};"
>
  {% if section.settings.show_cus_icons %}
    <div class="cus-icon-wrapper">
      <div class="cus-icon1">
        <img src="https://cdn.shopify.com/s/files/1/0720/6685/9196/files/cusicon1.png?v=1756465148">
        <span class="typeset1">{{ section.settings.cus_icon_text }}</span>
      </div>
      <div class="cus-icon2">
        <svg xmlns="http://www.w3.org/2000/svg" width="109" height="108" viewBox="0 0 109 108" fill="none">
          <g clip-path="url(#clip0_402_2286)">
          <path d="M57.857 1.53768C59.2682 3.3015 61.8254 3.61018 63.6117 2.2214C65.7061 0.589713 68.7491 1.31728 69.8956 3.69846C70.8655 5.74903 73.2911 6.63065 75.3636 5.68268C77.7667 4.60258 80.5667 6.01328 81.1183 8.59294C81.6035 10.7976 83.7643 12.2088 85.9689 11.768C88.5705 11.2609 90.9736 13.2895 90.9298 15.935C90.8859 18.184 92.6497 20.058 94.8982 20.1463C97.5442 20.2565 99.4182 22.7698 98.7564 25.3275C98.2054 27.5102 99.484 29.7593 101.667 30.3542C104.224 31.0598 105.459 33.9481 104.224 36.2849C103.166 38.291 103.916 40.7605 105.878 41.8412C108.193 43.1197 108.744 46.2066 107.003 48.2127C105.526 49.9102 105.68 52.4898 107.355 54.0113C109.295 55.7751 109.119 58.9058 106.98 60.4492C105.128 61.7722 104.687 64.3074 105.966 66.1595C107.465 68.3422 106.561 71.3627 104.114 72.3551C102.019 73.2148 101.005 75.574 101.821 77.6904C102.769 80.1598 101.203 82.8716 98.5799 83.2686C96.3533 83.6211 94.8099 85.6936 95.1186 87.9426C95.4711 90.5442 93.3329 92.8371 90.6869 92.6387C88.4378 92.4621 86.4536 94.1157 86.2332 96.3648C85.9909 98.9883 83.3668 100.708 80.8535 99.9143C78.6927 99.2087 76.3779 100.377 75.6503 102.516C74.7906 105.007 71.8579 106.087 69.5869 104.721C67.6465 103.552 65.1332 104.147 63.9429 106.065C62.5316 108.292 59.4229 108.667 57.5269 106.815C55.9172 105.228 53.3381 105.228 51.7283 106.815C49.8324 108.667 46.7236 108.292 45.3124 106.065C44.0996 104.147 41.5863 103.552 39.6459 104.721C37.3968 106.087 34.4427 105.007 33.5824 102.516C32.8549 100.377 30.5401 99.2087 28.4012 99.9143C25.8879 100.708 23.2638 98.9883 22.9996 96.3648C22.7792 94.1157 20.8169 92.4621 18.5678 92.6387C15.9218 92.8371 13.7616 90.5442 14.1361 87.9426C14.4228 85.6936 12.9013 83.6211 10.6523 83.2686C8.0507 82.8716 6.48537 80.1598 7.43334 77.6904C8.24919 75.574 7.21294 73.2148 5.14044 72.3551C2.69291 71.3627 1.78937 68.3422 3.28835 66.1595C4.56693 64.3074 4.10419 61.7722 2.27403 60.4492C0.113253 58.9058 -0.063301 55.7751 1.89899 54.0113C3.57453 52.4898 3.72916 49.9102 2.2296 48.2127C0.48771 46.2066 1.0393 43.1197 3.35412 41.8412C5.33834 40.7611 6.06591 38.2916 5.02966 36.2849C3.79493 33.9476 5.02966 31.0598 7.56489 30.3542C9.74759 29.7587 11.0487 27.5102 10.4752 25.3275C9.81394 22.7698 11.688 20.2565 14.3334 20.1463C16.5824 20.058 18.3682 18.184 18.3243 15.935C18.258 13.2889 20.6617 11.2609 23.2632 11.768C25.4904 12.2088 27.6286 10.7981 28.1139 8.59294C28.6874 6.01328 31.4875 4.602 33.8906 5.68268C35.9411 6.63065 38.3662 5.74903 39.3366 3.69846C40.4831 1.31728 43.5255 0.589713 45.6205 2.2214C47.4062 3.61018 49.9859 3.3015 51.3971 1.53768C53.0508 -0.512887 56.1814 -0.512887 57.857 1.53768Z" fill="#292034"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M54.6163 8.10828C79.9715 8.10828 100.498 28.6567 100.498 53.9899C100.498 79.3232 79.9715 99.8935 54.6163 99.8935C29.2611 99.8935 8.73462 79.3446 8.73462 53.9899C8.73462 28.6353 29.283 8.10828 54.6163 8.10828Z" fill="#FDFDFD"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M54.6165 24.4453C70.9542 24.4453 84.1825 37.6742 84.1825 53.9893C84.1825 70.3045 70.9536 83.5553 54.6165 83.5553C38.2795 83.5553 25.0725 70.3264 25.0725 53.9893C25.0725 37.6523 38.3014 24.4453 54.6165 24.4453Z" fill="#FDFDFD"/>
          <path d="M54.6154 23.9606C62.9054 23.9606 70.424 27.3342 75.8695 32.7577C81.2931 38.2038 84.6666 45.6999 84.6666 53.9899C84.6666 56.8782 84.2478 59.6563 83.4983 62.3018H82.4839C83.2779 59.6558 83.6967 56.8782 83.6967 53.9899C83.6967 45.9647 80.4339 38.711 75.1864 33.4415C69.9168 28.1719 62.6412 24.9311 54.6154 24.9311C46.5897 24.9311 39.3141 28.1719 34.067 33.4415C28.7975 38.711 25.5567 45.9647 25.5567 53.9899C25.5567 56.8782 25.9755 59.6563 26.747 62.3018H25.7546C24.9831 59.6558 24.5862 56.8782 24.5862 53.9899C24.5862 45.6999 27.9373 38.2038 33.3833 32.7577C38.8069 27.3342 46.3255 23.9606 54.6154 23.9606Z" fill="#292034"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M80.8751 67.2402C75.9806 76.743 66.059 83.2248 54.6164 83.2248C43.1738 83.2248 33.2741 76.7424 28.3577 67.2402H41.7406L42.512 67.9897C43.6146 69.0923 44.6064 70.0841 45.709 71.1867C48.7076 74.1853 49.479 72.3995 53.1168 68.7392L54.6383 67.2402H80.8751Z" fill="#292034"/>
          <path d="M18.1475 73.37L23.5053 70.6801L22.2043 68.0785L20.9257 68.7178L21.4109 69.6877L17.3323 71.7602L18.1481 73.37H18.1475ZM25.5553 73.6342C24.4972 72.201 23.042 72.0689 21.4542 73.2373C19.8889 74.4276 19.6021 75.8389 20.6603 77.2721C21.6965 78.6833 23.1736 78.8374 24.7389 77.669C26.3262 76.5006 26.591 75.0455 25.5548 73.6342H25.5553ZM24.5191 74.4062C24.8941 74.9134 24.6731 75.3986 23.6369 76.17C22.6006 76.9415 22.0716 77.0297 21.6965 76.5006C21.2996 75.9935 21.5425 75.5082 22.5562 74.7368C23.5925 73.9654 24.1215 73.8991 24.5185 74.4062H24.5191ZM29.5018 78.066C28.2233 76.8093 26.7681 76.9195 25.4232 78.3308C24.0344 79.7421 23.99 81.1972 25.2692 82.4319C26.5258 83.6667 28.0029 83.5565 29.3703 82.1452C30.7371 80.7564 30.7816 79.2788 29.5024 78.0666L29.5018 78.066ZM28.6202 78.992C29.061 79.4328 28.9289 79.94 28.0248 80.866C27.1426 81.7702 26.6135 81.9461 26.1727 81.5053C25.6875 81.0426 25.8421 80.5354 26.7462 79.6094C27.6284 78.6833 28.135 78.5293 28.6202 78.992ZM32.9193 81.1084C32.0151 80.5349 31.0672 80.7558 30.4717 81.7038C29.8763 82.6518 30.0529 83.6222 30.957 84.1952C31.8611 84.7462 32.8091 84.5258 33.4045 83.5778C34.0219 82.6299 33.8234 81.6819 32.9193 81.1084ZM29.3478 85.959L30.7366 86.8412L37.5495 84.085L36.1826 83.2028L29.3478 85.959ZM32.4346 81.8804C32.7652 82.0788 32.7871 82.4977 32.4785 82.983C32.1698 83.4457 31.7947 83.6222 31.4641 83.4018C31.1116 83.2034 31.1116 82.7626 31.3978 82.2992C31.7065 81.814 32.1034 81.66 32.434 81.8804H32.4346ZM35.9842 85.8927C35.08 85.3191 34.1101 85.562 33.5147 86.4881C32.9193 87.4361 33.1177 88.4065 34.0219 88.9795C34.9041 89.553 35.874 89.3101 36.4694 88.3621C37.0648 87.4361 36.8664 86.4662 35.9842 85.8927ZM35.477 86.6646C35.8076 86.885 35.8295 87.3039 35.5434 87.7672C35.2347 88.2525 34.8377 88.4065 34.5071 88.2081C34.1765 87.9876 34.1546 87.5688 34.4633 87.0835C34.75 86.6208 35.147 86.4442 35.4776 86.6646H35.477ZM43.4364 89.4647L43.0175 90.876C42.6425 90.8979 42.3119 90.8979 42.0695 90.8096C41.2098 90.5448 40.7684 89.707 41.0333 88.8473C41.32 87.9876 42.1359 87.5243 42.9736 87.7892C43.4808 87.9432 43.988 88.3846 44.2747 88.8693L45.6197 88.0096C45.1569 87.282 44.3186 86.6646 43.437 86.3779C41.541 85.8044 39.7991 86.6202 39.27 88.2963C38.7629 89.9719 39.6889 91.6474 41.4966 92.199C42.3344 92.4638 43.4589 92.4638 44.2084 92.2428L44.9359 89.928L43.437 89.4653L43.4364 89.4647ZM52.035 88.1861L50.2274 87.9213L49.7421 91.3606C49.6319 92.0444 49.1686 92.3969 48.5738 92.3086C47.9564 92.2423 47.5594 91.7351 47.6477 91.052L48.1549 87.6345L46.3472 87.3697L45.862 90.7871C45.6416 92.3744 46.6115 93.5433 48.3534 93.7857C50.0733 94.028 51.3081 93.1902 51.5285 91.6249L52.0356 88.1856L52.035 88.1861ZM56.8413 93.1025L57.2163 94.0505L59.1567 93.9842L56.4668 88.0753L54.6147 88.1192L52.1672 94.1826L54.0412 94.1388L54.3718 93.1689L56.8413 93.1025ZM56.3122 91.802L54.8351 91.8459L55.5407 89.8836L56.3122 91.802ZM63.8307 92.9923L65.8369 92.5296L64.1833 90.8979C64.7343 90.3908 64.9547 89.6851 64.7343 88.8035C64.4256 87.4805 63.3455 86.9514 61.7577 87.3264L58.9795 87.9657L60.3464 93.8082L62.1102 93.3893L61.7352 91.824L62.6831 91.6036L63.8296 92.9923H63.8307ZM61.4271 90.501L61.052 88.8912L62.0663 88.6489C62.5954 88.5387 62.9705 88.7371 63.0807 89.2662C63.2128 89.7734 62.9705 90.1259 62.4414 90.2586L61.4271 90.501ZM70.6656 89.7734L71.3712 90.5229L73.157 89.8172L68.5931 85.187L66.8512 85.8707L66.6746 92.4188L68.4165 91.7132L68.3946 90.6989L70.6656 89.7728V89.7734ZM69.7395 88.7591L68.3727 89.3101L68.3288 87.1937L69.7401 88.7591H69.7395ZM79.1096 86.2013L76.0009 81.0864L74.5896 81.9461L76.3315 84.8125L72.385 83.2911L71.062 84.085L74.1707 89.2224L75.6039 88.3402L73.862 85.4963L77.8085 86.9952L79.1096 86.2013ZM81.1383 78.3527L80.1903 77.2946L76.2219 80.8885L77.1698 81.9467L78.4709 80.7564L81.5358 84.1519L82.8807 82.9391L79.8158 79.5436L81.1388 78.3533L81.1383 78.3527ZM84.6434 74.0093L83.5852 73.1271L80.4326 77.0072L85.0848 80.7772L88.2818 76.8526L87.2236 75.9929L85.1731 78.5281L84.4236 77.9108L86.2537 75.6842L85.1956 74.8245L83.3654 77.0511L82.6378 76.4556L84.644 74.0081L84.6434 74.0093ZM87.9287 68.7617L86.7603 68.056L84.1368 72.2674L89.2298 75.4425L91.8977 71.1428L90.7513 70.4153L89.0094 73.1934L88.2154 72.6863L89.7369 70.2387L88.5686 69.5112L87.0471 71.9587L86.2532 71.4735L87.9287 68.7617Z" fill="#292034"/>
          <path d="M27.2974 34.1246L20.0875 30.3547L18.8747 32.692L21.9396 36.5283L17.0451 36.2196L15.8323 38.557L23.0197 42.305L24.0121 40.3865L19.7569 38.1819L24.0784 38.557L24.8279 37.1237L22.0278 33.8165L26.305 36.0211L27.2974 34.1252V34.1246ZM25.2029 24.4453C23.3953 26.3193 23.307 28.899 25.0264 30.5526C26.7463 32.2281 29.3479 32.0741 31.1556 30.222C32.9633 28.3699 33.0077 25.7464 31.2877 24.0928C29.5903 22.4391 27.0106 22.5938 25.2024 24.4453H25.2029ZM26.68 25.8346C27.4295 25.0407 28.6642 25.0407 29.5464 25.901C30.4286 26.7607 30.4944 28.0173 29.723 28.7893C28.9735 29.5607 27.6724 29.6052 26.7908 28.7674C25.9086 27.9077 25.9086 26.6066 26.6806 25.8352L26.68 25.8346ZM41.9589 22.6157L37.946 15.5604L36.0056 16.663L38.2322 20.6096L32.9627 18.383L31.1325 19.4193L35.1235 26.4745L37.0857 25.3719L34.8592 21.4473L40.1287 23.6519L41.9589 22.6157ZM48.5733 14.5461L48.1544 12.7385L41.5619 14.2374L43.3696 22.1524L50.0723 20.6309L49.6534 18.8232L45.3544 19.7931L45.0676 18.5584L48.8601 17.6987L48.4631 15.891L44.6487 16.7507L44.362 15.4941L48.5733 14.5461ZM55.9373 17.8972L59.046 12.4292L56.621 12.3628L54.7689 15.6481L53.0489 12.2746L50.6014 12.2307L53.4897 17.8972L53.4234 20.4105L55.8709 20.4768L55.9373 17.8972ZM64.5804 13.4435L62.0007 21.1381L66.0136 22.4611C67.8876 23.1004 69.3871 22.6595 69.828 21.3365C70.1366 20.3666 69.7841 19.3962 68.9019 18.8671C69.7841 18.9109 70.5117 18.4482 70.7759 17.6543C71.1729 16.464 70.2468 15.317 68.4167 14.7221L64.5804 13.4435ZM66.3222 15.913L67.711 16.3757C68.1738 16.5298 68.3947 16.8829 68.262 17.2798C68.1299 17.6768 67.733 17.8533 67.2921 17.6987L65.8809 17.236L66.3217 15.913H66.3222ZM65.3518 18.7794L66.7631 19.2646C67.3585 19.4412 67.6453 19.8381 67.4906 20.257C67.3585 20.6978 66.8952 20.8744 66.3003 20.6759L64.889 20.2132L65.3518 18.78V18.7794ZM75.3398 26.0989L74.9873 27.4438L77.148 28.9428L79.0001 20.3441L76.9276 18.889L69.3871 23.5192L71.4596 24.9744L72.6061 24.1805L75.3398 26.0989ZM75.8245 24.2912L74.1708 23.1448L76.5301 21.5575L75.8245 24.2912ZM86.1869 26.8709C84.5114 24.9524 81.9537 24.7101 80.1679 26.2755C78.3822 27.8408 78.2495 30.4204 79.9256 32.2945C80.7414 33.2424 82.0864 33.8379 83.4094 33.8817L83.5859 31.8531C82.7701 31.8092 81.9987 31.478 81.5798 30.9934C80.8303 30.1556 80.9624 28.9209 81.8446 28.127C82.7487 27.333 83.9835 27.3994 84.711 28.2372C85.1738 28.7443 85.3503 29.604 85.1963 30.4199L87.379 30.3979C87.4892 29.1851 87.0264 27.8183 86.1887 26.8703L86.1869 26.8709ZM84.9966 40.2538L86.2314 42.9218L89.2738 38.0273L93.529 39.3722L92.3387 36.7926L88.3477 35.5798L91.1916 34.2787L90.1554 32.0516L82.7914 35.4471L83.8058 37.6736L85.5915 36.8578L86.8926 37.2766L84.9966 40.2533V40.2538Z" fill="#292034"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.9681 49.2933C36.7997 49.2933 35.8956 50.5719 35.2344 51.2118C33.8012 52.6669 33.1838 52.7771 33.1838 54.4307C33.1838 55.3568 37.3952 59.1931 38.233 60.0308C40.0406 61.8385 41.7606 63.5585 43.5682 65.3667C44.4724 66.2708 45.2882 67.0867 46.1918 67.9902C48.6831 70.4597 49.3005 68.9826 52.321 65.9616L73.5969 44.6631C75.1623 43.1197 76.022 42.7891 76.022 41.0916C76.022 40.2319 74.5668 39.0855 74.0377 38.5564C72.6928 37.2115 71.7887 35.7344 69.981 37.1232C69.0769 37.8069 52.9383 54.1001 51.0199 55.996C50.226 56.79 49.1678 58.267 48.1096 58.0685C47.2499 57.892 46.8968 57.4292 46.3677 56.9002L40.3706 50.925C39.8196 50.3515 38.9594 49.2933 37.9675 49.2933H37.9681Z" fill="#292034"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1477 51.7629C19.3825 51.7629 20.3743 52.7553 20.3743 53.9895C20.3743 55.2236 19.3819 56.2385 18.1477 56.2385C16.9136 56.2385 15.8987 55.2461 15.8987 53.9895C15.8987 52.7328 16.8911 51.7629 18.1477 51.7629Z" fill="#292034"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M91.1048 51.7628C92.3395 51.7628 93.3538 52.7552 93.3538 53.9894C93.3538 55.2235 92.3395 56.2384 91.1048 56.2384C89.87 56.2384 88.8557 55.246 88.8557 53.9894C88.8557 52.7327 89.87 51.7628 91.1048 51.7628Z" fill="#292034"/>
          </g>
          <defs>
          <clipPath id="clip0_402_2286">
          <rect width="108.17" height="108" fill="white" transform="translate(0.533447)"/>
          </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  {% endif %}

  <modal-opener
    class="product__modal-opener product__modal-opener--{{ media.media_type }}"
    data-modal="#ProductModal-{{ modal_id }}"
  >
    <span
      class="product__media-icon motion-reduce quick-add-hidden{% if media.media_type == 'image' %} product__media-icon--{{ section.settings.image_zoom }}{% endif %}"
      aria-hidden="true"
    >
      {% case media.media_type %}
        {% when 'video', 'external_video' %}
          <span class="svg-wrapper">
            {{- 'icon-play.svg' | inline_asset_content -}}
          </span>
        {% when 'model' %}
          <span class="svg-wrapper">
            {{- 'icon-3d-model.svg' | inline_asset_content -}}
          </span>
        {% else %}
          <span class="svg-wrapper">
            {{- 'icon-zoom.svg' | inline_asset_content -}}
          </span>
      {% endcase %}
    </span>
    {%- render 'loading-spinner' -%}
    <div class="product__media media media--transparent">
      {{
        media.preview_image
        | image_url: width: 1946
        | image_tag:
          class: image_class,
          loading: lazy,
          sizes: sizes,
          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
      }}
    </div>
    <button
      class="product__media-toggle quick-add-hidden product__media-zoom-{{ section.settings.image_zoom }}"
      type="button"
      aria-haspopup="dialog"
      data-media-id="{{ media.id }}"
    >
      <span class="visually-hidden">
        {{ 'products.product.media.open_media' | t: index: position }}
      </span>
    </button>
  </modal-opener>

  {%- if media.media_type != 'image' -%}
    {%- if media.media_type == 'model' -%}
      <product-model class="deferred-media media media--transparent" data-media-id="{{ media.id }}">
    {%- else -%}
      <deferred-media class="deferred-media media media--transparent" data-media-id="{{ media.id }}">
    {%- endif -%}
    <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
      <span class="deferred-media__poster-button motion-reduce">
        {%- if media.media_type == 'model' -%}
          <span class="visually-hidden">{{ 'products.product.media.play_model' | t }}</span>
          <span class="svg-wrapper">
            {{- 'icon-3d-model.svg' | inline_asset_content -}}
          </span>
        {%- else -%}
          <span class="visually-hidden">{{ 'products.product.media.play_video' | t }}</span>
          <span class="svg-wrapper">
            {{- 'icon-play.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
      </span>
      {{
        media.preview_image
        | image_url: width: 1946
        | image_tag:
          loading: lazy,
          sizes: sizes,
          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
      }}
    </button>
    <template>
      {%- liquid
        case media.media_type
          when 'external_video'
            assign video_class = 'js-' | append: media.host
            if media.host == 'youtube'
              echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: 'lazy'
            else
              echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: 'lazy'
            endif
          when 'video'
            echo media | media_tag: image_size: '2048x', autoplay: true, loop: loop, controls: true, preload: 'none'
          when 'model'
            echo media | media_tag: image_size: '2048x', toggleable: true
        endcase
      -%}
    </template>

    {%- if media.media_type == 'model' -%}
      </product-model>
      {%- if xr_button -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ media.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          <span class="svg-wrapper">
            {{- 'icon-3d-model.svg' | inline_asset_content -}}
          </span>
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    {%- else -%}
      </deferred-media>
    {%- endif -%}
  {%- endif -%}
</div>
